<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Theme" value="Light" />
		<add key="Height" value="1080" />
		<add key="Width" value="1920" />
		<add key="Database_Enabled" value="True"/>
	</appSettings>
	<connectionStrings>
		
	</connectionStrings>
</configuration>